
/* 				# ignore everything
!*.gitignore 			# except gitignore
!README.md 			# except readme
!scripts/ 			# except scripts folder
!data/full_site_list.csv	# except site list
!data/gage			# except gage data
!data/huc12			# except huc12 data

# ignore other hidden files 
**/*.ipynb_checkpoints
**/*.Rapp.history
**/*.Rproj.user
**/*.DS_Store
**/*.remake
**/*.makefile
.Rproj.user
scripts/Asquith/fdc_model/DEMO.RData
scripts/Asquith/fdc_model/L1.pdf
scripts/Asquith/fdc_model/PPLO.pdf
scripts/Asquith/fdc_model/T2.pdf
scripts/Asquith/fdc_model/T3.pdf
scripts/Asquith/fdc_model/T4.pdf
scripts/Asquith/fdc_model/T5.pdf
scripts/Asquith/fdc_model/T6.pdf
scripts/Asquith/fdc_model/ZERO.pdf
scripts/Asquith/fdc_model/true_mean_comparison.pdf
scripts/Asquith/fdc_model/test_survreg_gam.pdf
scripts/Asquith/fdc_model/more_drainagearea_comparison.pdf
scripts/Asquith/fdc_model/diagnostic_on_area.pdf
scripts/Asquith/pred_fdc_by_lmr/test_fdc.pdf
scripts/Asquith/fdc_model/first_diagnostic_on_area.pdf
scripts/Asquith/fdc_model/second_diagnostic_on_area.pdf
scripts/Asquith/sitemap/SiteMapA.pdf
scripts/Asquith/sitemap/SiteMapB.pdf
scripts/Asquith/fdc_model/PPLOsmooths.pdf
scripts/Asquith/fdc_model/PPLOspace.pdf
results/gage/gam/SBcols_gage.aux
results/gage/gam/SBcols_gage.log
results/gage/gam/SBcols_gage.spl
results/gage/gam/SBcols_gage.synctex.gz
results/huc12/gam/SBcols_huc12.synctex.gz
results/huc12/gam/SBcols_huc12.spl
results/huc12/gam/SBcols_huc12.log
results/huc12/gam/SBcols_huc12.aux
scripts/Asquith/fdc_model/svm_rvm_inactivegages.pdf
