
/* 				# ignore everything
!*.gitignore 			# except gitignore
!README.md 			# except readme
!scripts/ 			# except scripts folder
!data/full_site_list.csv	# except site list
!data/gage			# except gage data
!data/huc12			# except huc12 data

# ignore other hidden files 
**/*.ipynb_checkpoints
**/*.Rapp.history
**/*.Rproj.user
**/*.DS_Store
.Rproj.user
scripts/Asquith/fdc_model/DEMO.RData
scripts/Asquith/fdc_model/L1.pdf
scripts/Asquith/fdc_model/PPLO.pdf
scripts/Asquith/fdc_model/T2.pdf
scripts/Asquith/fdc_model/T3.pdf
scripts/Asquith/fdc_model/T4.pdf
scripts/Asquith/fdc_model/T5.pdf
scripts/Asquith/fdc_model/T6.pdf
scripts/Asquith/fdc_model/ZERO.pdf
